.mocap {
  font-size: 16px;
  height: 600px;
  width: 700px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}

.mocap #div2 {
  background: url('../images/img_mocap/div2.png') no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.mocap #div3 {
  background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../images/img_mocap/div3.png');
  width: 100%;
  height: 100%;
  background-size: contain;
}
}

.mocap #div4 {
  background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../images/img_mocap/div4.png');
  width: 100%;
  height: 100%;
  background-size: contain;

}

.mocap #div5 {
  background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../images/img_mocap/div5.png');
  width: 100%;
  height: 100%;
  background-size: contain;
}

.mocap #div6 {
  background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../images/img_mocap/div6.png');
  width: 100%;
  height: 100%;
  background-size: contain;
}