:root {
  --nomeEmpresa: white;
  --fundoTela: #1e338f;
}

/* elementos base */

body {
  background: var(--fundoTela);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

header {
  height: 70px;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  padding: 10px;
  color: var(--vermelho);
  font-family: 'Arial Black';
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 40px;
}

header nav a {
  padding: 10px;
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

header nav a:hover {
  color: #ffff;
}

/* ////// filme principal */

.fundoTela {
  font-size: 16px;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url('../images/fundoTela_MyHealthLIb.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.fundoCorpo {
  font-size: 16px;
  /* height: 600px; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.fundoTela .descricao {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 22px;
}

.fundoTela .titulo {
  margin-top: 5%;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.botao {
  background-color: rgba(0, 0, 0, 50);
  border: none;
  color: white;

  padding: 15px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: 0.5s ease all;
}

.botao:hover {
  background: white;
  color: black;
}

.botao i {
  margin-right: 5px;
}

.container {
  margin-left: 20px;
}

.fundoTela .container {
  width: 70%;
}

.mocap {
  width: 60px;
}

.box-equipe {
  height: 70%;
  width: 70%;
  padding: 10px;
  border-radius: 50%;
  display: block;
}

.carrossel-equipes {
  margin-top: 5px;
}

.footer {
  height: 50px;
  padding: 10px;
  text-align: center;
  background-color: rgb(4, 25, 63);
  color: aliceblue;
  font-style: italic;
}

#menu {
  position: fixed;
  right: 0;
  top: 30%;
  width: 4em;
  margin-top: -1.5em;
  margin: -1.5em 0 0 0;
  z-index: 5;
  background: hsla(49, 80%, 60%, 0.7);
  /* color: white; */
  font-weight: bold;
  font-size: x-large;
  text-align: right;
  border: solid hsla(214, 89%, 18%, 0.5);
  border-right: none;
  padding: 0.5em 1.5em 0.5em 1.5em;
  box-shadow: 0 1px 3px black;
  border-radius: 3em 0.5em 0.5em 3em;
}

.roadMap {
  display: flex;
  flex-direction: column;
}

.itens_cultura {
  margin-top: 30px;
  margin-left: 600px;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 80px;
  padding: 2px;
  display: block;
  text-align: center;
  border-right: none;
}

#cultura p {
  text-align: center;
  align-items: center;
  align-self: center;
}

.controleAcesso {
  width: 350px;
  padding-top: 40px;
  margin: auto;
}

.idUser {
  padding-top: 20px;
  align-items: center;
  text-align: center;

}

.cardAcesso {
  box-shadow: #aaa;
  background-color: hsla(49, 80%, 60%, 0.7);
  border-radius: 10px;
}

.imageLogin {
  border-radius: 50%;
  background-color: white;
}

.login {
  color: white;
}

.emailSenhaAcesso>label {
  width: 100%;
  padding: 10px;
  display: block;
  color: azure;
  border-radius: 10px;

}

.emailSenhaAcesso>input {
  width: 90%;
  display: block;
  color: grey;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.emailSenhaAcesso>button {
  width: 95%;
  font-style: bold;
  background-color: rgb(185, 8, 8);
  color: aliceblue;
  border-radius: 20px;
  padding: 10px;
  margin: 7px;
  margin-bottom: 20px;
  align-self: center;
  border: 0px;
}

.btnEffect button:hover {
  background-color: rgb(243, 33, 33);
  color: aliceblue;
}



.container-fluid h2 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}

.container-fluid h3,
h4 {
  text-align: center;
}


.container-fluid #cultura {
  /* 
  modificada na verção 0.1 background: url('../images/img_mocap/div1.png')60% no-repeat; */
  background: url('../images/fundocultura.png') no-repeat;
  height: 600px;
  background-size: contain;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

/* subistituida pelo HTML os
background com imagem das divs de 1 a 6*/
.container-fluid #quemSomos {
  padding: 20px;
  background: url('../images/quemSomos.png') no-repeat;
  height: 600px;
  /* background-size: contain; */
  /* background-size: cover; */
  display: flex;
  padding-right: 550px;
  flex-direction: column;
  justify-content: center;
  /* align-items: start; */
  color: rgb(8, 32, 109);
  background-color: rgb(195, 212, 248);
}

.container-fluid #posicionamento {
  padding: 20px;
  /* background: url('../images/img_mocap/div2.png') no-repeat; */
  height: 600px;
  /* background-size: contain; */
  /* background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: start; */
  color: rgb(8, 32, 109);
  background-color: rgb(195, 212, 248);
}

.container-fluid #parcerias {
  padding: 20px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(195, 212, 248);
  background-color: rgb(8, 32, 109);
}



.container-fluid #roadMap {
  background: url('../images/img_mocap/roadmap.png')30% no-repeat;
  height: 600px;
  background-size: contain;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: rgb(195, 212, 248);
  background-color: rgb(8, 32, 109);
}


.container-fluid #parcerias {
  /* Parcerias */

  /* 
  retirada na versão 0.1
  background: url('../images/img_mocap/div4.png')60% no-repeat; */
  height: 600px;
  background-size: contain;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: rgb(8, 32, 109);
  background-color: rgb(195, 212, 248);

}

.container-fluid #div6 {
  background: url('../images/img_mocap/div5.png')60% no-repeat;
  height: 600px;
  background-size: contain;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: rgb(195, 212, 248);
  background-color: rgb(8, 32, 109);
}


.container-fluid #redesSociais {
  margin-top: 50px;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: rgb(218, 232, 250);
  align-items: center;
  justify-content: center;
}

.icones {
  margin-left: 40px;
}