:root {
  --nomeEmpresa: white;
  --fundoTela: #03145f;
  --altura-div: 700px;
  --largura-div: 1100px;

}

/* elementos base */

body {
  background: var(--fundoTela);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: white;
}

header {
  height: 80px;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  padding: 10px;
  color: var(--nomeEmpresa);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 40px;
}

header nav a {
  padding: 10px;
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

header nav a:hover {
  color: #ffff;
}

/* ////// filme principal */

.fundoTela {
  font-size: 16px;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url('../images/fundoTela_MyHealthLIb.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.fundoCorpo {
  font-size: 16px;
  /* height: 600px; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.fundoTela .descricao {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 22px;
  text-align: left;
}

.fundoTela .titulo {
  margin-top: 5%;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.botao {
  background-color: rgba(0, 0, 0, 50);
  border: none;
  color: white;

  padding: 15px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: 0.5s ease all;
}

.botao:hover {
  background: white;
  color: black;
}

.botao i {
  margin-right: 5px;
}

.container {
  margin-left: 20px;
}

.fundoTela .container {
  width: 70%;
}

.mocap {
  width: 60px;
}

.box-equipe {
  height: 70%;
  width: 70%;
  padding: 10px;
  border-radius: 50%;
  display: block;
}

.carrossel-equipes {
  margin-top: 5px;
}

.footer {
  height: 50px;
  padding: 10px;
  text-align: center;
  background-color: rgb(4, 25, 63);
  color: aliceblue;
  font-style: italic;
}

#menu {
  position: fixed;
  right: 0;
  top: 30%;
  width: 4em;
  margin-top: -1.5em;
  margin: -1.5em 0 0 0;
  z-index: 5;
  background: hsla(49, 80%, 60%, 0.7);
  /* color: white; */
  font-weight: bold;
  font-size: x-large;
  text-align: right;
  border: solid hsla(214, 89%, 18%, 0.5);
  border-right: none;
  padding: 0.5em 1.5em 0.5em 1.5em;
  box-shadow: 0 1px 3px black;
  border-radius: 3em 0.5em 0.5em 3em;
}

.roadMap {
  display: flex;
  flex-direction: column;
}

.itens_cultura {
  margin-top: 30px;
  margin-left: 600px;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 80px;
  padding: 2px;
  display: block;
  text-align: center;
  border-right: none;
}

#cultura p {
  text-align: center;
  align-items: center;
  align-self: center;
}

.desc_cultura {
  text-align: center;
  align-items: center;
  align-self: center;
  margin-top: 15px;
  padding: 5px;
}

.texto_cultura {
  margin: 0px;
}

.controleAcesso {
  width: 350px;
  padding-top: 40px;
  margin: auto;
}

.idUser {
  padding-top: 20px;
  align-items: center;
  text-align: center;

}

.cardAcesso {
  box-shadow: #aaa;
  background-color: hsla(49, 80%, 60%, 0.7);
  border-radius: 10px;
}

.imageLogin {
  border-radius: 50%;
  background-color: white;
}

.login {
  color: white;
}

.emailSenhaAcesso>label {
  width: 100%;
  padding: 10px;
  display: block;
  color: azure;
  border-radius: 10px;

}

.emailSenhaAcesso>input {
  width: 90%;
  display: block;
  color: grey;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.emailSenhaAcesso>button {
  width: 95%;
  font-style: bold;
  background-color: rgb(185, 8, 8);
  color: aliceblue;
  border-radius: 20px;
  padding: 10px;
  margin: 7px;
  margin-bottom: 20px;
  align-self: center;
  border: 0px;
}

.btnEffect button:hover {
  background-color: rgb(243, 33, 33);
  color: aliceblue;
}

.container-fluid h2 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}

.container-fluid h3,
h4 {
  text-align: center;
}


.container-fluid #cultura {
  /* 
  modificada na verção 0.1 background: url('../images/img_mocap/div1.png')60% no-repeat; */
  background: url('../images/fundocultura.png') no-repeat;
  height: 600px;
  background-size: contain;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

/* subistituida pelo HTML os
background com imagem das divs de 1 a 6*/
.container-fluid #quemSomos {
  padding: 20px;
  background: url('../images/quemSomos.png') no-repeat;
  height: 600px;
  /* background-size: contain;
  background-size: cover; */
  display: flex;
  padding-right: 300px;
  flex-direction: column;
  justify-content: center;
  /* align-items: start; */
  color: rgb(8, 32, 109);
  background-color: rgb(195, 212, 248);
}

.container-fluid #posicionamento {
  padding: 20px;
  background: url('../images/fundoposicionamento.png') no-repeat;
  height: 600px;
  background-size: contain;
  background-size: cover;
  display: flex;
  padding-right: 500px;
  flex-direction: column;
  justify-content: center;
  /* align-items: start; */
  color: rgb(8, 32, 109);
  background-color: rgb(195, 212, 248);
}


.container-fluid #posicionamento h2,
p {
  text-align: center;
}

.container-fluid #parcerias {
  padding: 20px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(195, 212, 248);
  background-color: rgb(8, 32, 109);
}



.container-fluid #roadMap {
  background: url('../images/img_mocap/roadmap.png')30% no-repeat;
  height: 600px;
  background-size: contain;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: rgb(195, 212, 248);
  background-color: rgb(8, 32, 109);
}


.container-fluid #parcerias {
  /* Parcerias */

  /* retirada na versão 0.1
  background: url('../images/img_mocap/div4.png')60% no-repeat; */
  height: 600px;
  background-size: contain;
  background-size: cover;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: start center;
  color: rgb(8, 32, 109);
  background-color: rgb(195, 212, 248);

}



.container-fluid #roadMap {
  background: url('../images/fundoradmap.png')60% no-repeat;
  height: 600px;
  background-size: contain;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(195, 212, 248);
  background-color: rgb(8, 32, 109);
}


.container-fluid #redesSociais {
  margin-top: 50px;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: rgb(218, 232, 250);
  align-items: center;
  justify-content: center;
}

.icones {
  margin-left: 40px;
  filter: brightness(50%);
}

.icones:hover {
  padding: 0;
  transition: 0.5s;
  filter: brightness(100%);
}

.video {
  color: white;
  text-align: center;
  align-items: center;
  background-color: #03145f;
}


#header form .input-group {
  margin: 0 auto 2em auto;
}

#header .input-group {
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.z-index-10 {
  z-index: 10;
}

.input-group {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn,
.input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:last-child)>.btn,
.input-group-btn:not(:last-child)>.btn-group>.btn,
.input-group-btn:not(:last-child)>.dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.search-results {
  padding: 5px 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 1rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

.sos-icon .corgi {
  position: absolute;
  width: 100px;
  top: -30px;
  left: 14px;
}

.sos-icon .corgi {
  position: absolute;
  width: 60px;
}

.sos-icon img {
  filter: drop-shadow(0px 1px 1px #000);
}

img {
  vertical-align: middle;
}

img {
  border-style: none;
}

element.style {}

#header form input,
#header form .btn.btn-secondary {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #2ecc71;
  height: 39px;
  font-size: 16px;
  padding: 0 10px;
  font-weight: 600;
  border: none;
}

#header form .btn.btn-secondary {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #5080ce;
  color: #ecf1fa;
}

.input-group-btn:not(:first-child)>.btn,
.input-group-btn:not(:first-child)>.btn-group {
  z-index: 2;
  margin-left: -1px;
}

.input-group-btn:not(:last-child)>.btn,
.input-group-btn:not(:last-child)>.btn-group {
  margin-right: -1px;
}

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child)>.btn,
.input-group-btn:not(:first-child)>.btn-group>.btn,
.input-group-btn:not(:first-child)>.dropdown-toggle,
.input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn,
.input-group-btn:not(:last-child)>.btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn,
.input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:last-child)>.btn,
.input-group-btn:not(:last-child)>.btn-group>.btn,
.input-group-btn:not(:last-child)>.dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.form-control-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: .3rem;
}

.input-group-btn>.btn {
  position: relative;
}

.btn-secondary {
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0;
}

[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

button,
input,
select {
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

user agent stylesheet button {
  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-addon,
.input-group-btn {
  white-space: nowrap;
  vertical-align: middle;
}

body,
html {
  background-color: #ecf0f1;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
}

html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

#header form input,
#header form .btn .btn-secondary {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #2ecc71;
  height: 39px;
  font-size: 16px;
  padding: 0 10px;
  font-weight: 600;
  border: none;
}

#header form .btn.btn-secondary {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #5080ce;
  color: #ecf1fa;
}

.input-group-btn:not(:first-child)>.btn,
.input-group-btn:not(:first-child)>.btn-group {
  z-index: 2;
  margin-left: -1px;
}

.input-group-btn:not(:last-child)>.btn,
.input-group-btn:not(:last-child)>.btn-group {
  margin-right: -1px;
}

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child)>.btn,
.input-group-btn:not(:first-child)>.btn-group>.btn,
.input-group-btn:not(:first-child)>.dropdown-toggle,
.input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn,
.input-group-btn:not(:last-child)>.btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn,
.input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:last-child)>.btn,
.input-group-btn:not(:last-child)>.btn-group>.btn,
.input-group-btn:not(:last-child)>.dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.form-control-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: .3rem;
}

.input-group-btn>.btn {
  position: relative;
}

.btn-secondary {
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0;
}

[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

button,
input,
select {
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

user agent stylesheet button {
  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-addon,
.input-group-btn {
  white-space: nowrap;
  vertical-align: middle;
}

body,
html {
  background-color: #ecf0f1;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
}

html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}